<div class="game">
    <div class="guess-container">
        <app-letter-row [guess]="currentGuess" [rowNumber]="0"></app-letter-row>
        <app-letter-row [guess]="currentGuess" [rowNumber]="1"></app-letter-row>
        <app-letter-row [guess]="currentGuess" [rowNumber]="2"></app-letter-row>
        <app-letter-row [guess]="currentGuess" [rowNumber]="3"></app-letter-row>
        <app-letter-row [guess]="currentGuess" [rowNumber]="4"></app-letter-row>
        <app-letter-row [guess]="currentGuess" [rowNumber]="5"></app-letter-row>
    </div>
</div>
<div class="gameover" *ngIf="gameOver">
    The correct word was "{{getAnswer() | uppercase}}"
</div>
<div *ngIf="gameComplete || gameOver" class="buttons">
    <button class="button reset" (click)="reset()">Reset</button>
    <button class="button" (click)="continue()">Continue to Card</button>
</div>

<app-keyboard (keyPressed)="keyPress($event)"></app-keyboard>
<p class="skip">If you really just want to skip it <a routerLink="card">you can</a>... I guess :(</p>


