<div class="game">
<div class="guess-container">
    <div class="guess">
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
    </div>

    <div class="guess">
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
    </div>

    <div class="guess">
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
    </div>

    <div class="guess">
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
    </div>

    <div class="guess">
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
    </div>

    <div class="guess">
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
        <app-letter-square></app-letter-square>
    </div>
</div>
</div>

<div class="keyboard"></div>