@import '../../../styles/colors';
@import '../../../styles/fonts';

:host {
    --game-max-width: 500px;
    --bottom-offset: 210px;
    display: flex;
    height: calc(100% - var(--bottom-offset));
    background: #121213;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: var(--game-max-width);
}

.guess-container {
    width: 350px;
    height: 420px;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: .75rem;
}

.guess {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .25rem;
}

.gameover {
    color: var(--color-font-primary);
    font-family: var(--font-family-sans-serif);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    
}

.buttons {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    max-width: var(--game-max-width);
}

.button {
    align-items: center;
    background: var(--color-game-correct);
    border: 2px solid var(--color-game-correct);
    border-radius: 4px;
    color: var(--color-font-primary);
    cursor: pointer;
    flex: 1;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
    font-weight: 500;
    padding: 1rem;
    text-transform: uppercase;
}

.reset {
    background: var(--color-game-exists);
    border: 2px solid var(--color-game-exists);
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.reset::after {
    background: url('../../../assets/icons8-rotate-50.png');
    background-size: contain;
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;

}

.skip {
    color: var(--color-border);
}

.skip a {
    color: var(--color-border);
}

@media (max-width: 475px) {
    .guess-container {
        width: 300px;
        height: 360px;
    }

    .skip {
        padding: 1rem;
        text-align: center;
    }

    .gameover {
        font-size: 1.5rem;
    }
}