<p class="title">From our family to yours, Merry&nbsp;Christmas and a Happy&nbsp;New&nbsp;Year!</p>


<figure>
  <svg class="card" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 800" preserveAspectRatio="xMinYMin meet">
    <!--Image of our family Or images of each of us-->
    <image width="600" height="800" xlink:href="../../../assets/ChristmasCard2.0.jpg" />

    <!--create regions-->
    <!--Highlighting/Clicking a member shows their name-->
    <g class="family-member" opacity="0" (click)="cardClick('blitz')">
      <a>
        <polygon points="1,279,289,277,265,2,1,0" style="fill:var(--color-border);stroke:var(--color-border);stroke-width:1;opacity:.6;"/>
      </a>
    </g>

    <g class="family-member" opacity="0" (click)="cardClick('calvin')">
      <a>
        <polygon points="280,794,270,462,5,473,1,797" style="fill:var(--color-border);stroke:var(--color-border);stroke-width:1;opacity:.6;"/>
      </a>
    </g>

    <g class="family-member" opacity="0" (click)="cardClick('obi')">
      <a>
        <polygon points="449,258,585,262,576,408,450,420" style="fill:var(--color-border);stroke:var(--color-border);stroke-width:1;opacity:.6;"/>
      </a>
    </g>

    <g class="family-member" opacity="0" (click)="cardClick('chief')">
      <a>
        <polygon points="324,3,323,179,593,185,600,8" style="fill:var(--color-border);stroke:var(--color-border);stroke-width:1;opacity:.6;"/>
      </a>
    </g>

    <g class="family-member" opacity="0" (click)="cardClick('maureen')">
      <a>
        <polygon points="339,798,348,469,598,480,600,796" style="fill:var(--color-border);stroke:var(--color-border);stroke-width:1;opacity:.6;"/>
      </a>
    </g>
  </svg>
</figure>

<div class="family">
  <p *ngIf="clickedFam === ''">Click around to learn names</p>
  <p *ngIf="clickedFam === 'maureen'">Maureen</p>
  <p *ngIf="clickedFam === 'calvin'">Calvin</p>
  <p *ngIf="clickedFam === 'chief'">
    Chief, the perfect boy, the prodigal son, the prince, handsome, stinky, a highly trained assassin of the heart, his titles and accolades never cease.
  </p>
  <p *ngIf="clickedFam === 'blitz'">
    Blitz is our newest addition, saved from a Mizzou dorm hallway in summer of 2021, he is also known as "the puppy", "big", "grain of rice puppy", "uggy", "loud" and "a problem"
  </p>
  <p *ngIf="clickedFam === 'obi'">
    Oberon aka Obi is our cat... we think. He might also be an alien or a bug or a worm. No one can be certain.
  </p>
</div>

<a class="back" routerLink="/">	&#8592; Back to Game</a>
