@import '../../../styles/colors';
@import '../../../styles/fonts';

:host {
  align-items: center;
  background: var(--color-key-background);
  border-radius: .25rem;
  color: var(--color-font-primary);
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: var(--font-family-sans-serif);
  font-weight: 500;
  height: 3.125rem;
  justify-content: center;
  padding: 0 .25rem;
  text-transform: uppercase;
}

:host(.large) {
  flex: 1.5;
  font-size: .75rem;
}

:host(.clear)::before {
  content: '';
  background: url('../../../assets/icons8-clear-symbol-48-white.png');
  background-size: contain;
  display: block;
  height: 1.75rem;
  width: 1.75rem;
}

:host(.clear) span{
  display: none;
}

:host:hover {
  border: 1px solid var(--color-font-primary);
}