<div class="row">
  <app-keyboard-key keyName="q"></app-keyboard-key>
  <app-keyboard-key keyName="w"></app-keyboard-key>
  <app-keyboard-key keyName="e"></app-keyboard-key>
  <app-keyboard-key keyName="r"></app-keyboard-key>
  <app-keyboard-key keyName="t"></app-keyboard-key>
  <app-keyboard-key keyName="y"></app-keyboard-key>
  <app-keyboard-key keyName="u"></app-keyboard-key>
  <app-keyboard-key keyName="i"></app-keyboard-key>
  <app-keyboard-key keyName="o"></app-keyboard-key>
  <app-keyboard-key keyName="p"></app-keyboard-key>
</div>
<div class="row">
  <div class="spacer"></div>
  <app-keyboard-key keyName="a"></app-keyboard-key>
  <app-keyboard-key keyName="s"></app-keyboard-key>
  <app-keyboard-key keyName="d"></app-keyboard-key>
  <app-keyboard-key keyName="f"></app-keyboard-key>
  <app-keyboard-key keyName="g"></app-keyboard-key>
  <app-keyboard-key keyName="h"></app-keyboard-key>
  <app-keyboard-key keyName="j"></app-keyboard-key>
  <app-keyboard-key keyName="k"></app-keyboard-key>
  <app-keyboard-key keyName="l"></app-keyboard-key>
  <div class="spacer"></div>
</div>
<div class="row">
  <app-keyboard-key [largeKey]="true" keyName="enter"></app-keyboard-key>
  <app-keyboard-key keyName="z"></app-keyboard-key>
  <app-keyboard-key keyName="x"></app-keyboard-key>
  <app-keyboard-key keyName="c"></app-keyboard-key>
  <app-keyboard-key keyName="v"></app-keyboard-key>
  <app-keyboard-key keyName="b"></app-keyboard-key>
  <app-keyboard-key keyName="n"></app-keyboard-key>
  <app-keyboard-key keyName="m"></app-keyboard-key>
  <app-keyboard-key [largeKey]="true" [clear]="true"></app-keyboard-key>
</div>