<div class="row">
  <app-keyboard-key keyName="q" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="w" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="e" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="r" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="t" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="y" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="u" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="i" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="o" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="p" (keyPressed)="keyPress($event)"></app-keyboard-key>
</div>
<div class="row">
  <div class="spacer"></div>
  <app-keyboard-key keyName="a" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="s" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="d" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="f" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="g" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="h" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="j" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="k" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="l" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <div class="spacer"></div>
</div>
<div class="row">
  <app-keyboard-key [largeKey]="true" keyName="enter" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="z" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="x" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="c" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="v" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="b" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="n" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key keyName="m" (keyPressed)="keyPress($event)"></app-keyboard-key>
  <app-keyboard-key [largeKey]="true" [clear]="true" keyName="backspace" (keyPressed)="keyPress($event)"></app-keyboard-key>
</div>