:host {
    --color-border: #3a3a3c;
    --color-background: #121213;
    --color-game-correct: #538d4e;
    --color-game-exists: #b59f3b;
    --color-game-incorrect: #3a3a3c;
    --color-font-primary: #ffffff;
    --color-key-background: #818384;
}