@import '../../../styles/_fonts.scss';

:host {
    font-family: var(--font-family-serif);
}

.top-nav {
    border-bottom: 1px solid #91818A;
    color: #ffffff;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}